version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      all-github-actions:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "08:30"
      timezone: "Europe/Vienna"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
    assignees:
      - "cleot" # devops